* {
   padding: 0;
   margin: 0;
   border: 0;
   outline: none;
   box-sizing: border-box;
}

html {
   height: 100%;
   scroll-behavior: smooth;
}

body,
html {
   min-height: 100%;
   width: 100%;
}

body {
   animation: bgTransition 20s infinite linear;
   overflow: hidden;
   background: url('../img/bgr.jpg') no-repeat;
   background-size: cover;
}

.container {
   max-width: 700px;
   padding: 0 15px;
   margin: 0 auto;
   width: 100%;
   position: relative;
   min-height: 100vh;
}

input::placeholder {
   color: #000;
}

.form {
   min-width: 270px;
   width: 45%;
   height: 50%;
   background: rgba(62, 155, 155, .5);
   text-align: center;
   margin: 20% auto;
   display: block;
   padding: 25px 15px 20px;
   border-radius: 15px;
   position: relative;
}

.form__wrapper .ng-invalid.ng-dirty {
   background: rgb(230, 101, 101);
}

.form__wrapper .ng-valid.ng-dirty {
   background: rgb(81, 224, 81);
}

.form__title {
   margin-bottom: 20px;
}

.table__text {
   display: block;
}

.form__input {
   margin: 10px 0;
   border: 1px solid #474545;
   padding: 5px 10px;
   width: 170px;
   border-radius: 5px;
}

.table__check {
   font-weight: 700;
   margin-bottom: 10px;
}

.table__span {
   color: #fff;
   margin-bottom: 5px;
   display: inline-block;
}

.table__checkbox {
   margin: 10px;
}

.table__btn {
   margin: 15px 0;
}

.btn {
   padding: 10px 25px;
   border-radius: 10px;
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   background: rgb(14, 130, 168);
   cursor: pointer;
   transition: all 0.3s ease;
   margin: 15px 0;
}

.btn:hover {
   background: rgb(21, 101, 175);
}

.btn.disbled {
   background: red;
}

.valid__span {
   font-weight: 700;
}

.logout {
   position: absolute;
   right: 100px;
   top: 0;
   cursor: pointer;
   background: transparent;
   font-size: 16px;
   transition: all 0.3s ease;
   border-radius: 10px;
   font-weight: 700;
   padding: 10px;
}

.logout:hover {
   background: rgb(0, 153, 255);
   color: #fff;
}

.content__items {
   border: 1px solid #000;
   border-collapse: collapse;
   width: 100%;
   text-align: center;
   margin-bottom: 20px;
}

.content__wrapper{
   display: flex;
   justify-content: space-between;
}

.content__group{
   width: 60%;
   border: 1px solid gray;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 3px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content__img{
   width: 30px;
   height: 30px;
}

.content__items td{
   padding: 10px;
}

th {
   border: 1px solid grey;
}
th:nth-child(1) {
   width: 5%;
}
th:nth-child(2) {
   width: 40%;
}
th:nth-child(3) {
   width: 30%;
}
th:nth-child(4) {
   width: 15%;
}
th:nth-child(5) {
   width: 20%;
}
td {
   border: 1px solid grey;
}


.content{
   position: absolute;
   bottom: 0;
   top: 10%;
   right: 0;
   left: 0;
   margin: auto;
}

.content__text-right {
   text-align-last: left;
   padding-left: 15px;
}

.content__head tr {
   font-size: 20px;
}

.content__select,
.edit__select,
.edit__full,
.edit__text {
   width: 50%;
   border: 1px solid gray;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 3px;
}

.content__search{
   background: transparent;
   width: 100%;
   padding: 5px;
}

.content__search::placeholder {
   color: gray;
}

.content__select {
   width: 35%;
   color: gray;
   position: relative;
   background: transparent;
}

.content__add {
   border-radius: 10px;
   color: #fff;
   font-weight: 700;
   padding: 8px 25px;
   background: rgb(0, 153, 255);
   cursor: pointer;
   transition: all 0.3s ease;
   height: 40px;
}

.content__add:hover {
   background: rgb(8, 119, 194);
}

.content__box {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   width: 85%;
}

.content__btn {
   background: transparent;
   cursor: pointer;
   position: relative;
   padding-bottom: 3px;
}

.content__btn-delete:hover{
   color: red;
}

.content__btn-edit:hover{
   color: green;
}

.loading {
   position: absolute;
   z-index: 100;
   top: 25%;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0 auto;
   animation: rotation 1s infinite linear;
   border: 3px solid rgba(117, 4, 4, 0.5);
   border-radius: 50%;
   border-top-color: rgb(42, 22, 221);
   height: 3em;
   width: 3em;
}

@keyframes rotation {
   to {
      transform: rotate(360deg);
   }
}

.remove {
   display: none;
}

.add {
   display: block;
}

.edit{
   position: absolute;
   bottom: 0;
   top: 10%;
   right: 0;
   left: 0;
   margin: auto;
}

.edit__group{
   margin-bottom: 10px;
}

.edit__name{
   display: block;
   margin-bottom: 10px;
   font-size: 16px;
}

.edit__select,
.edit__text,
.edit__full{
   width: 100%;
}

.edit__btn{
   padding: 10px 35px;
   border-radius: 10px;
   font-size: 18px;
   background: transparent;
   border: 1px solid gray;
   transition: all .3s ease;
   cursor: pointer;
   margin-right: 20px;
}

.edit__btn:hover{
   font-weight: 700;
   color: #fff;
   background: rgb(0, 153, 255);
}

.edit__full::placeholder{
   color: gray;
}
